body{

    background-image: url(imagens/bio.jpg);  
    background-size: cover;
}

.scroll{
  
  font-family: arial;
  overflow: scroll;
  color: grey;
}
section .row{
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: center;

}

.row{
  
position:absolute;
bottom:0;
top:250px;
  
}

#tabela{

     justify-content: center;
	 position: absolute;
	 margin: auto;
	 align-items: center;
	 left: 25%;
     top:20%;
	 float: center;	
     box-sizing:border-box;
     background:rgba(400, 400, 212, 0.9);
     padding: 80px;
     transform: translate(-5%, -5%); 
     height:300px;
     width: 800px;
     border-radius: 10px;
     font-family: arial;
     color: grey;

}

.botao{  

    height: 35px;
    width: px;px;    
    cursor: pointer;
    margin-right: 20px;
    border-radius: 7px;
    background-color: grey;
    border:1px solid grey;
}

.salv{

    height: 30px;
    width: 150px;
    background-color: #D8D8D8;
    border:1px solid #D8D8D8;
    color: #585858;

}

.canc{

   height: 30px;
    width: 100px;
    background-color: #D8D8D8;
    border:1px solid #D8D8D8;
    color: #585858;

}
