
body{
	width: 100%;
	height: 200px;
    margin: 0;
    padding:0;
    background-size: cover;
    font-family: Verdana;
    font-size: 100%;
    background-image: url(imagens/fundo1.jpg);
    background-size: cover;
}

.style1 {
    color: #FF0000;
    font-size: x-small;
}

.campo{

    width: 300px;
    height: 30px;
    border: 1px solid  #ddd;
    margin-top: 5px;
}

.horinzontal{

   background-color: #8181F7;
    width: 100%;
    display: table;
    height: 150px;
}

td{

 padding: 30px;

}

table{

     margin-left: 200px;
     background-color: white;

}

.imag{
        margin-left: 230px;

}

#sistema{

    margin-left: 1195px;
    margin-top: -20px;
    font-family: fantasy;
    color: white;
}

#logo{

    margin-left: 1200px;
    margin-top: 20px;

}
.botao{    
    height: 35px;
    width: px;px;    
    cursor: pointer;
    margin-right: 20px;
    border-radius: 7px;
    background-color: #D8D8D8;
    border:1px solid #D8D8D8;
}

.salv{

    width: 70px;
    background-color: #D8D8D8;
    border:1px solid #D8D8D8;
    color: #585858;

}

.canc{

    width: 70px;
    background-color: #D8D8D8;
    border:1px solid #D8D8D8;
    color: #585858;

}

.anex{

	height: 20px;
	 width: 100px;
    background-color: #D8D8D8;
    border:1px solid #D8D8D8;
    color: #585858;
}

.footer{

    position:absolute;
    bottom:0;
    width:100%;
    font-size: 10px;
    font-family: arial;
}