body{
	width: 100%;
	height: 200px;
    margin: 0;
    padding:0;
    background-size: cover;
    font-family: Verdana;
    font-size: 100%;
    
}

td{

 padding: 30px;
 text-decoration: none;


}

table{

     margin-left: 0px;
     margin-top: -1px;
         width: 100%;

}

#legenda{

    margin-left: 5px;
    margin-top: -5px;
    font-family: fantasy;
    color: white;
    
}
.horinzontal{

    background-image: url(imagens/pdf.jpg);
    width: 100%;
    height: 150px;
}

.imag{
        margin-left: 230px;

}

#sistema{

    margin-left: 10px;
    margin-top: 100px;
    font-family: fantasy;
    color: #151515;
    position: relative;
    font-weight: bold;
}

#logo{

    margin-left: 10px;
    margin-top: 20px;
    position: absolute;

}
.footer{

    position:absolute;
    bottom:0;
    width:100%;
    font-size: 20px;
    
}