body{
    width: 100%;
    height: 200px;
    margin: 0;
    padding:0;
    background-size: cover;
    font-family: Verdana;
    font-size: 100%;
    background-image: url(imagens/fundo1.jpg);
    background-size: cover;

}

#p{
	margin-left: 30px;
	color: grey;
	font-family: fantasy;
	position: absolute;

}
#p:hover{
 
 cursor: pointer;
 border-bottom: 2px solid;
}

#c{

	margin-left: -30px;
	color: grey;
	font-family: fantasy;
	position: absolute;

}
#c:hover{
 
 cursor: pointer;
 border-bottom: 2px solid;
}

#pr{

		margin-left: 15px;
		color: grey;
	font-family: fantasy;
	    position: absolute;
}
#pr:hover{
 
 cursor: pointer;
 border-bottom: 2px solid;
}

#s{
margin-left: 35px;
color: grey;
	font-family: fantasy;
	 position: absolute;

}
#s:hover{
 
 cursor: pointer;
 border-bottom: 2px solid;
}

table{

     margin-left: 0px;
     margin-top: -1px;
         width: 100%; 

}

td{

 padding: 100px;
 
}

.horinzontal{

    background-color: #8181F7;
    width: 100%;
    height: 150px;
}

.imag{
        margin-left: 230px;

}

#sistema{

    margin-left: 1195px;
    margin-top: -20px;
    font-family: fantasy;
    color: white;
    position: absolute;
}

#logo{

    margin-left: 1200px;
    margin-top: 20px;

}


a{
	text-decoration: none;
}


.footer{

	 position:absolute;
    bottom:0;
    width:100%;
    font-size: 10px;
}

#perfil{
	width: 100px;
	height: 100px;
}
