body{
	width: 100%;
	height: 200px;
    margin: 0;
    padding:0;
    background-size: cover;
    font-family: Verdana;
    font-size: 100%;
    background-image: url(imagens/fundo1.jpg);
    background-size: cover;
}

.style1 {
    color: #FF0000;
    font-size: x-small;
}

td{

 padding: 50px;
 text-decoration: none;


}

table{

     margin-left: 0px;
     margin-top: 135px;
         width: 100%;
    background-color: white;


}

#legenda{

    margin-left: 595px;
    margin-top: -20px;
    font-family: fantasy;
    color: white;
    
}
.horinzontal{

    background-color: #8181F7;
    width: 100%;
    height: 150px;
}

.imag{
        margin-left: 230px;

}

#sistema{

    margin-left: 1195px;
    margin-top: -20px;
    font-family: fantasy;
    color: white;
}

#logo{

    margin-left: 1200px;
    margin-top: 20px;

}

.botao{  

    height: 35px;
    width: px;    
    cursor: pointer;
    margin-right: 20px;
    border-radius: 7px;
    background-color: grey;
    border:1px solid grey;
}

.canc{

   height: 30px;
    width: 100px;
    background-color: #D8D8D8;
    border:1px solid #D8D8D8;
    color: #585858;
    margin-left: 10px;

}

.footer{

    position:absolute;
    bottom:0;
    width:100%;
    font-size: 10px;
    font-family: arial;
}