
body{
    width: 100%;
    height: 200px;
    margin: 0;
    padding:0;
    background-size: cover;
    font-family: Verdana;
    font-size: 100%;
    background-image: url(imagens/fundo1.jpg);
    background-size: cover;
}

.scroll{
  
  font-family: arial;
  overflow: scroll;
  color: grey;
}
section .row{
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: center;

}

.row{
  
position:absolute;
bottom:0;
top:250px;
  
}

#linha{
    color: black;
    font-family: arial;
    position: absolute;
    
}

#linha:hover{
 
 cursor: pointer;
 border-bottom: 2px solid #8181F7 ;
}

#acao{
    color: grey;
    font-family: fantasy;
    position: absolute;
    text-align: center;
 align-items: center;
 align-content: center;

}

#acao:hover{
 
 cursor: pointer;
 border-bottom: 2px solid;
}

a{
text-decoration: none;
}



td{

 padding: 1.5%;
 background-color: #E4E6F6;
 text-decoration: none;

}

table{

     margin-left: 0px;
     margin-top: -1px;
    width: 100%;
    display: table;
    background-color: white;
}

th{

    background-color:#8181F7;
    color: white;
    font-family: Arial;
    padding: 0.6%;
  
}
#tr{

    background-color: #8181F7;
    border:2px solid white;
    font-family: Arial;
    color: white;
    height: 20%;
}

#legenda{

    margin-left: 595px;
    margin-top: -30px;
    font-family: fantasy;
    color: white;
    position: absolute;
    
}
.horinzontal{

    background-color: #8181F7;
    width: 100%;
    display: table;
    height: 150px;
}

.botao{  

    height: 35px;
    width: px;    
    cursor: pointer;
    margin-right: 20px;
    border-radius: 7px;
    background-color: grey;
    border:1px solid grey;
}

.imag{
        margin-left: 230px;

}

#sistema{

    margin-left: 1195px;
    margin-top: -20px;
    font-family: fantasy;
    color: white;
}

#logo{

    margin-left: 1200px;
    margin-top: 20px;

}
.salv{

    height: 30px;
    width: 150px;
    background-color: #D8D8D8;
    border:1px solid #D8D8D8;
    color: #585858;

}

.canc{

   height: 30px;
    width: 100px;
    background-color: #D8D8D8;
    border:1px solid #D8D8D8;
    color: #585858;
    margin-left: 10px;

}

.campo{

    height: 30px;
    border: 1px solid #7B72FA;
    border-radius: 2px;
    color: grey;
    cursor: pointer;
}

.footer{

     position:absolute;
    bottom:0;
    width:100%;
    font-size: 10px;
    font-family: arial;
}