body{    
    display: flex;
    align-items:center;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    background-image: url(imagens/fundo1.jpg);
    background-size: cover;
  
}

.login{    
    height:300px;
    width: 400px;
    margin: auto;
    border-radius: 50px;
    justify-content: center;
    align-items:center;
    display: flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); 
    box-sizing:border-box;
    background:rgba(216, 216, 212, 0.9);
    padding: 40px;
    font-family: arial;

  
}

section .row{
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: center;

}

.botao{    

    height: 35px;
    width: px;px;    
    cursor: pointer;
    margin-right: 20px;
    border-radius: 7px;
    background-color: grey;
    border:1px solid grey;
    color: #D8D8D8
}

.can{

    width: 100px;
    background-color: grey;
    border:1px solid grey;

}

.footer{

     position:absolute;
    bottom:0;
    width:100%;
    font-size: 10px;
    font-family: arial;
}
